html, body{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 10;
}

.container-satu{
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama{
    flex: 1;
    order: 2;
}

.sidebar-satu{
    flex: 1;
    order: 1;
}

.sidebar-dua{
    flex: 1;
    order: 3;
}

/* Akhir Pelatihan 1 */

/* Pelatihan 2 */




.container-dua{
    max-width:800px;
    margin: 50px auto;
 
}

.layanan{
  
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.layanan.satu{background-color: rgb(0, 255, 157);}
.layanan.dua{background-color: rgb(200, 255, 0);}
.layanan.tiga{background-color: rgb(1, 255, 35);}






/* Akhir Pelatihan 2 */


/* Awal Pelatihan 3 */

.container-tiga{
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail{
    width: 50%; 
}

.thumbnail img{
    width: 100%;
}

/* Latihan 4 */

.container-empat{
    max-width: 800px;
    margin: 50px auto;
    
 
}

.card{
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
    margin: 10px;
    width: 50%;
    flex: 1;
    align-items: center;
    
}

.card .header{
    height: 150px;
    background-color: #666;
}

.card .content{
    text-align: center;
    padding-bottom: 20px;
}

.card.besar{
   
}













/* Responsive */

@media( min-width: 600px ){
    .container-dua{
        display: flex;
        justify-content: space-between;
    }

    .layanan{
        width: 30%;
    }
    .thumbnail{
        width: 25%;
    }

    .container-empat{
        display: flex;
        
    }

    .card{
        width: 20%;
    }

    .card.besar{
        transform: scale(1.12);
    }
}









